.block-carusel {

	&__container {
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 130px;
		
	}
	&__items{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 25px;

	}
	&__item{
		

	}
}
@media (max-width:647px) {
	.block-carusel__items{
		justify-content: center;
		align-items: center;
	}
	
}
@media (max-width:516px) {
	.block-carusel__items{
		justify-content: space-between;
		align-items: center;
	}
}
