.main {
  padding-top: 257px;
  position: relative;
  z-index: -1;
  &::after{
	content:"";
	display: block;
	width: 41%;
	height: 85%;
	background-color: #EFF8ED;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
	border-bottom-left-radius: 80px;

 
  }

  &__container {
  }

  &__sub-title {
    @include subTitle(14);
    text-align: center;
    padding-bottom: 40px;
  }

  &__title {
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    padding-bottom: 40px;
  }

  &__text {
    display: block;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--secondColor);
	 padding-bottom: 40px;
  }

  &__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 152px;
	gap: 10px;
  flex-wrap: wrap;
    }

  &__button-getnow {
	@include buttonColor(var(--thirtColor),var(--fouthColor));
  min-width: 174px;
	
	
  }

  &__button-learn {
	@include buttonTransparent(var(--fouthColor),var(--thirtColor),5px);
  min-width: 174px;
  }
}
